@model BusManuDTO

@if (ViewBag.ErrorMessage != null)
{
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6">
            <div class="alert-danger alert">
                @ViewBag.ErrorMessage
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 col-sm-8 col-md-6">

        <form method="post" asp-action="Update" asp-controller="BusManu">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label>Üretici Adı</label>
                <input type="text" asp-for="Name" class="form-control" autocomplete="off" />
            </div>

            <div class="float-right">

                <button type="submit" class="btn btn-primary">
                    Güncelle
                </button>
                <a class="btn btn-danger" asp-action="Index" asp-controller="BusManu">İptal</a>
            </div>
        </form>
    </div>
</div>