@model BusModelDTO

<div class="row">
    <div class="col-12 col-md-8 col-sm-4">
        <div class="alert alert-warning">
            <label>Dikkat!!! Silmek istediğine emin misin?</label>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-12 col-md-8 col-sm-5">
        <form method="post" asp-action="Delete" asp-controller="BusModel">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Name">Model Adı</label>
                <input asp-for="Name" class="form-control" type="text" autocomplete="off" disabled/>
            </div>

            <div>
                <label asp-for="BusManufacturerId">Üretici Adı</label>
                <input value="@ViewBag.BusManu" class="form-control" type="text" autocomplete="off" disabled />
                

            </div>

            <div>
                <label asp-for="Type">Tipi</label>
                <input value="@ViewBag.SelectedType" class="form-control" type="text" autocomplete="off" disabled />
                
               
            </div>
            <div>
                <label class="mt-3" asp-for="SeatCapacity">Kapasite Girin</label>
                <input asp-for="SeatCapacity" class="form-control" type="number" autocomplete="off" disabled />
            </div>
            <div>
                <label asp-for="HasToilet">WC</label>
                <input asp-for="HasToilet" type="checkbox" autocomplete="off"  disabled/>
            </div>

            <div class="float-right">
                <button type="submit" class="btn btn-warning">
                    Onayla
                </button>
                <a class="btn btn-success" asp-action="Index" asp-controller="BusModel">
                    İptal
                </a>
            </div>

        </form>

    </div>
</div>